asgiref==3.9.1
Django==5.2.5
django-debug-toolbar==6.0.0
django-redis==6.0.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
redis==6.4.0
smartpasslib==3.0.0
sqlparse==0.5.3
psutil==6.1.1
