{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block main %}
<div class="container mt-5 pt-4">
    <div class="card mb-4" style="box-shadow: 0 0 5px #0d6efd; background: black;">
        <div class="card-body">
            <h1 class="text-center text-primary display-6 mb-4"> Forgot password</h1>
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_email" class="form-label fw-bold">Email</label>
                    {{ form.email }}
                </div>
                <p class="text-muted text-center">We'll send you a message on your email with reset URL. </p>
                <div class="text-center mt-4">
                    <button class="btn btn-success px-4" type="submit">
                        <i class="bi bi-check-lg"></i> Send
                    </button>
                </div>
                <hr>
                <p class="text-muted text-center">
                    Didn't receive the email? 
                    <a href="{% url 'users:resend_password_reset' %}?email={{ request.POST.email|default:'' }}"
                    class="text-primary" style="text-decoration: none;">
                        Resend reset link
                    </a>
                </p>
            </form>

        </div>
    </div>
</div>
{% endblock %}