{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block main %}
<div class="container mt-5 pt-4">
    <div class="card mb-4" style="box-shadow: 0 0 5px #0d6efd; background: black;">
        <div class="card-body">
            <h1 class="text-center text-primary display-6 mb-4">Password reset</h1>

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="text-center mt-4">
                    <button class="btn btn-success px-4" type="submit">
                        <i class="bi bi-check-lg"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}