{% extends 'base.html' %}
{% load core_filters %}

{% block title %}Site Config{% endblock %}

{% block sidebar %}
    {% include "admin_panel/_admin_sidebar.html" with active_page='settings' %}
{% endblock %}

{% block content %}

    {% block css %}
        <style>
            .li-custom {
                background: black !important;
            }
            .list-group-custom {
                box-shadow: 0 0 5px #1b9dec;
            }
        </style>
    {% endblock %}


    <h2 style="text-align: center" class="display-6">Site Config</h2>

    {% if site_config %}
        <hr>

        <ul class="list-group list-group-custom">
            <li class="list-group-item li-custom"><strong>App Name:</strong> <span
                    class="text-primary">{{ site_config.name }}</span></li>
            <li class="list-group-item li-custom"><strong>App description:</strong> <span
                    class="text-primary">{{ site_config.description }}</span></li>
            <li class="list-group-item li-custom"><strong>Email:</strong> <span
                    class="text-primary">{{ site_config.email }}</span></li>
        </ul>

        <hr>
        <div class="btn-group btn-group-sm">
            <a href="{% url "admin_panel:site_config_update" %}" class="btn btn-success" data-bs-toggle="tooltip"
               data-bs-placement="top" title="Settings"><i class="bi bi-gear"></i> Update</a>
        </div>


    {% else %}

        <hr>

    {% endif %}

{% endblock %}