{% load static %}

<div id="blockAvatar" class="text-center">
    <figure class="figure">
        <img src="{{ request.user.get_avatar }}" class="figure-img img-thumbnail img-fluid rounded" alt="Profile Picture"
             style="box-shadow: 0 0 5px cornflowerblue">
        <figcaption class="figure-caption text-center">
            {% if not request.user.is_online %}
                <strong style="cursor: help" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="This user is currently offline." class="text-danger">
                    Offline
                </strong>
            {% else %}
                <strong class="text-success">Online
                </strong>
            {% endif %}
        </figcaption>
    </figure>
    <br>
</div>

<hr>

<div id="blockMenu">
    <div class="btn-group-vertical w-100 figure-img img-thumbnail rounded" role="group"
             style="box-shadow: 0 0 5px #1b9dec; background: black;">

            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile" href="{% url 'users:user_detail' %}"
               class="btn mb-1 {% if active_page == 'profile' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                <i class="bi bi-house-door{% if active_page == 'profile' %}-fill{% endif %}"></i>
                Profile
            </a>

            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Smart Passwords" href="{% url "smart_passwords:smart_password_list" %}"
               class="btn mb-1 {% if active_page == 'manager' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                <i class="bi bi-lock{% if active_page == 'manager' %}-fill{% endif %}"></i>
                Smart Passwords
            </a>

        </div>

        <div class="btn-group-vertical w-100 figure-img img-thumbnail rounded" role="group"
             style="box-shadow: 0 0 5px darkred; background: black;">
             <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings" href='{% url "users:user_update" %}'
               class="btn mb-1 {% if active_page == 'settings' %}btn-warning{% else %}btn-outline-warning{% endif %}">
                <i class="bi bi-gear{% if active_page == 'settings' %}-fill{% endif %}"></i> Settings
            </a>
            {% if user.is_2fa_enabled %}
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Two Factor Manage" href='{% url "users:two_factor_manage" %}'
                class="btn mb-1 {% if active_page == '2fa' %}btn-success{% else %}btn-outline-success{% endif %}">
                    <i class="bi bi-shield{% if active_page == '2fa' %}-fill{% endif %}"></i> Two Factor Manage
                </a>
            {% else %}
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Two Factor Manage" href='{% url "users:two_factor_setup" %}'
                    class="btn mb-1 {% if active_page == '2fa' %}btn-warning{% else %}btn-outline-warning{% endif %}">
                        <i class="bi bi-shield{% if active_page == '2fa' %}-fill{% endif %}"></i> Two Factor Manage
                </a>
            {% endif %}
            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change password"
               href='{% url "users:password_change" %}'
               class="btn mb-1 {% if active_page == 'password' %}btn-danger{% else %}btn-outline-danger{% endif %}">
                <i class="bi bi-lock{% if active_page == 'password' %}-fill{% endif %}"></i> Change password
            </a>
        </div>
        {% if request.user.is_superuser %}
        <div class="btn-group-vertical w-100 figure-img img-thumbnail rounded" role="group"
             style="box-shadow: 0 0 5px darkred; background: black;">

             <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Admin Panel" href='{% url "admin_panel:admin_panel" %}'
               class="btn mb-1 {% if active_page == 'admin_panel' %}btn-success{% else %}btn-outline-success{% endif %}">
                <i class="bi bi-diagram-3{% if active_page == 'admin_panel' %}-fill{% endif %}"></i> Admin Panel
            </a>
                <a target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Admin Django" href='{% url "admin:index" %}'
               class="btn mb-1 {% if active_page == 'admin_django' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                <i class="bi bi-cpu"></i> Admin (Django)
            </a>

        </div>
        {% endif %}
</div>