{% extends 'base.html' %}

{% block title %}{{ user.full_name }}'s user{% endblock %}

{% block sidebar %}
    {% include "admin_panel/users/_user_sidebar.html" with active_page="detail" %}
{% endblock %}

{% block content %}

    {% block css %}
        <style>
            .li-custom {
                background: black !important;
            }
            .div-custom {
                box-shadow: 0 0 5px #1b9dec;
            }
        </style>
    {% endblock %}

    <hr>
    <h1 class="text-center display-6">{{ user.full_name }} <sup>{% if user.is_active %}
        <span class="text-success">Active</span>{% else %}<span class="text-danger">Blocked</span>{% endif %}</sup></h1>
    <hr>
    <div class="border p-3 mb-3 div-custom">
        <ul class="list-group list-group-flush">
            <li class="list-group-item li-custom"><strong>Name:</strong> <span
                    class="text-primary">{{ user.first_name }}</span></li>
            <li class="list-group-item li-custom"><strong>Last name:</strong> <span
                    class="text-primary">{{ user.last_name }}</span></li>
            <li class="list-group-item li-custom"><strong>Email:</strong> <span class="text-primary">{% if user.email %}
                {{ user.email }}{% endif %}</span></li>
            <li class="list-group-item li-custom">
                <strong>Two-factor authentication:</strong>
                <span class="text-primary">
                                {% if user.is_2fa_enabled %}
                                    <i class="bi bi-check-circle text-success"></i>
                                {% else %}
                                    <i class="bi bi-x-circle text-danger"></i>
                                {% endif %}
                            </span>
            </li>
            <li class="list-group-item li-custom"><strong>Is active:</strong>
                <span class="text-primary">
                    {% if user.is_active %}
                        <i class="bi bi-check-circle text-success" title="Active"></i>
                    {% else %}
                        <i class="bi bi-x-circle text-danger" title="Inactive"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item li-custom"><strong>Is Superuser:</strong>
                <span class="text-primary">
                    {% if user.is_superuser %}
                        <i class="bi bi-check-circle text-success" title="Is Superuser"></i>
                    {% else %}
                        <i class="bi bi-x-circle text-danger" title="Not Superuser"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item li-custom"><strong>Account updated:</strong> <span
                    class="text-primary">{{ user.updated_at|date:"d.m.Y H:i:s" }}</span></li>
            <li class="list-group-item li-custom"><strong>Account created:</strong> <span
                    class="text-primary">{{ user.created_at|date:"d.m.Y H:i:s" }}</span></li>
        </ul>
    </div>
{% endblock %}