{% extends 'base.html' %}

{% block title %}Generate Smart Password{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">Generate Smart Password:</h1>
    <hr>
    <ul class="list-group">
        <li class="list-group-item"><strong>Description: </strong>
            <p class="lead">{{ smart_password.description }}</p></li>
        <li class="list-group-item"><strong>Length: </strong>
            <p class="lead">{{ smart_password.length }}</p></li>
    </ul>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-group btn-group-sm">
            <a href="{% url "smart_passwords:smart_password_list" %}" type="button"
           class="btn btn-secondary"></i>Cancel</a>
            <button class="btn btn-success" type="submit">Generate</button>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_description, #id_length, #id_secret_phrase').addClass('form-control');
        });
        $('#id_secret_phrase').val('temporary_value').val('');
    </script>
{% endblock %}