{% extends 'base.html' %}

{% block title %}Update Smart Password:{% endblock %}

{% block content %}

    <h1 class="display-6 text-center">Update Smart Password:</h1>
    <hr>

    <div class="alert alert-primary">
        <strong>💡 Password length:</strong>
        <ul class="mb-0 mt-2">
            <li>Minimum <strong>12 characters</strong> (enforced)</li>
        </ul>
    </div>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="btn-group btn-group-sm">
            <a href="{% url "smart_passwords:smart_password_list" %}" type="button"
           class="btn btn-secondary"></i>Cancel</a>
            <button class="btn btn-success" type="submit">Update</button>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_description, #id_length').addClass('form-control');
        });
    </script>
{% endblock %}